.roles h3 {
  text-align: center;
}

.company-info p {
  font-size: 1.1rem;
  margin-top: 10px;
}
.card {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

.company-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .company-brand {
    flex-direction: column;
  }
}

.company-brand img {
  width: 150px;
  border: solid black 2px;
  border-radius: 5px;
}

.company-container {
  width: 100%;
  max-width: 1000px;
}